<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form th:object="${addMusicForm}" method="POST" enctype="multipart/form-data" action="/">
        <div>
            <label> MusicName :<input type="text" th:field="*{songName}" class="form-control"/></label>
        </div>
        <div>
            <label> ArtistName<input type="text" th:field="*{artistName}" class="form-control"/></label>
        </div>
        <div>
            <label> Date <input type="text" th:field="*{date}" class="form-control"/></label>
        </div>
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

<input type="button" value="Home" class="homebutton" id="btnHome"
       onClick="document.location.href='/'" />

</body>
</html>